<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
         
  <test name="Java">
	 <classes>
	   <class name="test.JavaTest"/>
	 </classes>
   </test>
   
  <test name="Ruby">
     <classes>
       <class name="test.RubyTest"/>
     </classes>
   </test>
</suite>